@import url('https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css');
@import url('https://unpkg.com/@djthoms/pretty-checkbox/dist/pretty-checkbox.min.css');
@import url('https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css');

@import "node_modules/bulmaswatch/spacelab/variables";
@import "node_modules/bulma/bulma";
@import "node_modules/bulmaswatch/spacelab/overrides";

.table-striped>tr:nth-child(odd){
   background-color:rgb(209, 209, 209);
}

.is-active-here {
    background-color: rgb(148, 180, 147);
    color: white;
}

.center-graph {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.profile-image{
    display: flex;
    justify-content: center;
  
}

.box{
    display: flex;
    justify-content: center;
}

.rows{
    display: flex;
    flex-direction: column;
}

body{
    font-family: 'Roboto', sans-serif;

}

.stock-image{
    border-radius: 5px;
    height: auto;
    max-width: 85%;
    box-shadow: 0px 3px 10px rgba(0,0,0,0.15);

}
